/* Header.module.css */

.header {
    /* Estilos para el encabezado */
    background-color: white; /* Cambia el color de fondo a tu preferencia */
    color: #000000; /* Cambia el color del texto a tu preferencia */
    padding: 10px; /* Ajusta el espaciado interno del encabezado */
    display: flex; /* Hace que los elementos del encabezado se muestren en una fila */
    justify-content: space-between; /* Alinea los elementos en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
  
    /* Agrega estilos adicionales según tus preferencias */
  }
  
  .dropdownContainer {
    position: relative;
  }
  
  .dropdownMenu {
    /* Estilos para el menú desplegable */
    display: none; /* Oculta el menú desplegable de forma predeterminada */
    position: absolute; /* Permite el posicionamiento absoluto */
    top: 100%; /* Coloca el menú debajo del botón */
    right: 0; /* Establece la apertura hacia la derecha */
    background-color: #ffffff; /* Cambia el color de fondo del menú a tu preferencia */
    max-width: 150px; /* Establece el ancho mínimo del menú */
    z-index: 1; /* Ajusta la profundidad de apilamiento */
  
    /* Agrega estilos adicionales según tus preferencias */
  }
  